{% load static %}
<nav class="navbar navbar-color-on-scroll navbar-transparent    fixed-top  navbar-expand-lg " color-on-scroll="100" id="sectionsNav">
        <div class="container">
            <div class="navbar-translate">
                <div class="navbar-brand">
                <a href="{% url 'homepage_eng' %}" >
                    <img src="{% static 'assets/img/logo.png' %}" alt="{{ page_info.seo_title_eng }}">
                </a>
            </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'homepage_eng' %}">
                            <i class="material-icons">home</i> Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'gallery_eng' %}">
                            <i class="material-icons">subject</i> Projects
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'blog_eng' %}">
                            <i class="material-icons">subject</i> Blog
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about_eng' %}">
                            <i class="material-icons">bookmark</i> About
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://github.com/Zefarak/" target="_blank" data-original-title="Follow us on Github">
                            <i class="fa fa-github"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://www.facebook.com/christos.stathakis.39" target="_blank" data-original-title="Like us on Facebook">
                            <i class="fa fa-facebook-square"></i>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>