{% extends 'tim/index.html' %} {% load static %}


{% block seo %}
    <title>simply-chris | Gym App</title>
    <meta name="description" content="A blog about web development and more!">
    <meta name="keywords" content="Web Design, python, django">
{% endblock %}

{% block content %}
    <div class="page-header header-filter header-small" data-parallax="true" style="background-image: url({% static 'assets/img/crossfit.png' %});">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h1 class="title">A program about </h1>
                    <h4>
                        <b class="is-visible">Deadlifts</b>
                        <b>Squats</b>
                        <b>Shoulder Press</b>
                        <b>Bench</b>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="main main-raised">
        <div class="container">
            <div class="about-team team-1">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">5/3/1: How to Build Pure Strength</h2>
                        <h5 class="description">
                            <a href="https://www.t-nation.com/workouts/531-how-to-build-pure-strength">Go to Program Page</a>
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                    <h4 class="title wow fadeInDown" data-wow-delay=".3s">Use your max squat on every exercise</h4>
                    <form method="get">
                        <label>Deadlift</label>
                        <input step='0.1' class="form-control" {% if get_deadlift %} value="{{ get_deadlift }}" {% endif %} name="deadlift" type="number" placeholder="Max Deadlift Weight" required>
                        <label>Squat</label>
                        <input step='0.1' class="form-control" {% if get_squat %} value="{{ get_squat }}" {% endif %} name="squats" type="number" placeholder="Max Squat Weight" required>
                        <label>Bench</label>
                        <input step='0.1' class="form-control" {% if get_bench %} value="{{ get_bench }}" {% endif %} name="bench" type="number" placeholder="Max Bench Weight" required>
                        <label>Shoulder Press</label>
                        <input step="0.1" class="form-control" {% if get_press %} value="{{ get_press }}" {% endif %} name="press" type="number" placeholder="Max Shoulder Press Weight" required>
                        <button type="submit" class="btn btn-success">Save</button>
                    </form>
                </div>
                    <div class="col-md-8">
                        <h2 class="title wow fadeInDown" data-wow-delay=".3s">Results</h2>
                        <div class="row">
                            <div class="col-md-6">
                                <h4>Deadlift - {{ get_deadlift }} kg</h4>
                                <table class="table table-responsive table-bordered">
                                <thead>
                                    <tr>
                                        <th>&nbsp;</th>
                                        <th class="number">Week 1</th>
                                        <th class="number">Week 2</th>
                                        <th class="number">Week 3</th>
                                        <th class="number">Week 4</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for set in deadlift %}
                                        <tr>
                                            <th class="tdYellow">Set {{ forloop.counter }}</th>
                                            <td class="number"><span style="color: red;">{{ set.0.0|floatformat:2 }} kg</span> x {{ set.0.1 }} reps </td>
                                            <td class="number"><span style="color: red;">{{ set.1.0|floatformat:2 }} kg</span> x {{ set.1.1 }} reps</td>
                                            <td class="number"><span style="color: red;">{{ set.2.0|floatformat:2 }} kg</span> x {{ set.2.1 }} reps</td>
                                            <td class="number"><span style="color: red;">{{ set.3.0|floatformat:2 }} kg</span> x {{ set.3.1 }} reps</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                                </table>
                                <br>
                                <h4>Shoulders press -- {{ get_press }} kg</h4>
                                <table class="table table-responsive table-bordered">
                                    <thead>
                                        <tr>
                                            <th>&nbsp;</th>
                                            <th class="number">Week 1</th>
                                            <th class="number">Week 2</th>
                                            <th class="number">Week 3</th>
                                            <th class="number">Week 4</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for set in shoulder_press %}
                                        <tr>
                                            <th class="tdYellow">Set {{ forloop.counter }}</th>
                                            <td class="number"><span style="color: red;">{{ set.0.0|floatformat:2 }} kg</span> x {{ set.0.1 }} reps </td>
                                            <td class="number"><span style="color: red;">{{ set.1.0|floatformat:2 }} kg</span> x {{ set.1.1 }} reps</td>
                                            <td class="number"><span style="color: red;">{{ set.2.0|floatformat:2 }} kg</span> x {{ set.2.1 }} reps</td>
                                            <td class="number"><span style="color: red;">{{ set.3.0|floatformat:2 }} kg</span> x {{ set.3.1 }} reps</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-6">
                                <h4>Squats -- {{ get_squat }} kg</h4>
                                <table class="table table-responsive table-bordered">
                                    <thead>
                                        <tr>
                                            <th>&nbsp;</th>
                                            <th class="number">Week 1</th>
                                            <th class="number">Week 2</th>
                                            <th class="number">Week 3</th>
                                            <th class="number">Week 4</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for set in squats %}
                                        <tr>
                                            <th class="tdYellow">Set {{ forloop.counter }}</th>
                                            <td class="number"><span style="color: red;">{{ set.0.0|floatformat:2 }} kg</span> x {{ set.0.1 }} reps </td>
                                            <td class="number"><span style="color: red;">{{ set.1.0|floatformat:2 }} kg</span> x {{ set.1.1 }} reps</td>
                                            <td class="number"><span style="color: red;">{{ set.2.0|floatformat:2 }} kg</span> x {{ set.2.1 }} reps</td>
                                            <td class="number"><span style="color: red;">{{ set.3.0|floatformat:2 }} kg</span> x {{ set.3.1 }} reps</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <br>
                                <h4>Bench Press -- {{ get_bench }} kg</h4>
                                <table class="table table-responsive table-bordered">
                                    <thead>
                                    <tr>
                                        <th>&nbsp;</th>
                                        <th class="number">Week 1</th>
                                        <th class="number">Week 2</th>
                                        <th class="number">Week 3</th>
                                        <th class="number">Week 4</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {% for set in bench_press %}
                                            <tr>
                                                <th class="tdYellow">Set {{ forloop.counter }}</th>
                                                <td class="number"><span style="color: red;">{{ set.0.0|floatformat:2 }} kg</span> x {{ set.0.1 }} reps </td>
                                                <td class="number"><span style="color: red;">{{ set.1.0|floatformat:2 }} kg</span> x {{ set.1.1 }} reps</td>
                                                <td class="number"><span style="color: red;">{{ set.2.0|floatformat:2 }} kg</span> x {{ set.2.1 }} reps</td>
                                                <td class="number"><span style="color: red;">{{ set.3.0|floatformat:2 }} kg</span> x {{ set.3.1 }} reps</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="about-services features-2">
                <div class="row">
                    <div class="col-md-12 ml-auto mr-auto text-center">
                        <h2 class="title">Gym Data</h2>
                        <div class="row">
                            <table class="table table-hover table-responsive table-bordered">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Person</th>
                                        <th>Deadlift</th>
                                        <th>Squats</th>
                                        <th>Bench</th>
                                        <th>Shoulder Press</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for person in object_list %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td><a href="{% url 'gym_page_id' person.id %}"> {{ person }} </a></td>
                                            <td>{{ person.deadlift }}</td>
                                            <td>{{ person.squats }}</td>
                                            <td>{{ person.bench_press }}</td>
                                            <td>{{ person.shoulder_press }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}